@font-face {
	font-family: 'Knight';
	src: url('../fonts/knight_u.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	background: #fafafa;
}

#loading.lsd {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	margin-left: -25px;
	margin-top: -45px;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}

#loading:after {
	content: attr(data-loaded);
	display: block;
	font-size: 10pt;
	font-family: 'DejaVu Sans Mono', 'Consolas', 'Monaco', monospace;
	font-weight: normal;
}

#knight {
	width: 64px;
	top: 0;
	left: 0;
	margin: 32px 24px;
	color: #5af;
	position: absolute;
}

#knight:before {
	font-family: 'Knight';
	content: attr(data-icon);
	speak: none;
	font-size: 64px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.lsd {
	-webkit-animation: lsd 8s linear 0 infinite;
	-o-animation: lsd 8s linear 0 infinite;
	animation: lsd 8s linear 0 infinite;
}

@-webkit-keyframes lsd {
	from { color: #5af; }
	25% { color: #3a8; }
	50% { color: #a38; }
	75% { color: #38a; }
	to { color: #5af; }
}
@-o-keyframes lsd {
	from { color: #5af; }
	25% { color: #3a8; }
	50% { color: #a38; }
	75% { color: #3aa; }
	to { color: #5af; }
}
@-moz-keyframes lsd {
	from { color: #5af; }
	25% { color: #3a8; }
	50% { color: #a38; }
	75% { color: #38a; }
	to { color: #5af; }
}
@keyframes lsd {
	from { color: #5af; }
	25% { color: #3a8; }
	50% { color: #a38; }
	75% { color: #38a; }
	to { color: #5af; }
}

#net {
	top: 0;
	left: 0;
	z-index: 1;
}

.content {
	position: relative;
	background: #8dc;
	margin-top: 100%;
	padding: 48px 0;
	width: 100%;
	font: 11pt/20pt "Arial";
	color: white;
	z-index: 2;
}
.content .words {
	width: 600px;
	margin: 0 auto;
}