@font-face {
	font-family: 'Knight';
	src: url('../fonts/knight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	background: #fafafa;
}

#loading.lsd {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	margin-left: -25px;
	margin-top: -45px;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	-o-animation-duration: 3s;
	animation-duration: 3s;
}

#loading:after {
	content: attr(data-loaded);
	display: block;
	font-size: 10pt;
	font-family: 'DejaVu Sans Mono', 'Consolas', 'Monaco', monospace;
	font-weight: normal;
}

#knight {
	width: 64px;
	margin: 32px;
	color: #5af;
}

#knight:before {
	font-family: 'Knight';
	content: attr(data-icon);
	speak: none;
	font-size: 64px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.lsd {
	-webkit-animation: lsd 10s linear 0 infinite;
	-o-animation: lsd 10s linear 0 infinite;
	animation: lsd 10s linear 0 infinite;
}

@-webkit-keyframes lsd {
	from { color: #5af; }
	13% { color: #38a; }
	38% { color: #3a8; }
	63% { color: #a38; }
	88% { color: #5af; }
	to { color: #5af; }
}
@-o-keyframes lsd {
	from { color: #5af; }
	13% { color: #38a; }
	38% { color: #3a8; }
	63% { color: #a38; }
	88% { color: #5af; }
	to { color: #5af; }
}
@-moz-keyframes lsd {
	from { color: #5af; }
	13% { color: #38a; }
	38% { color: #3a8; }
	63% { color: #a38; }
	88% { color: #5af; }
	to { color: #5af; }
}
@keyframes lsd {
	from { color: #5af; }
	13% { color: #38a; }
	38% { color: #3a8; }
	63% { color: #a38; }
	88% { color: #5af; }
	to { color: #5af; }
}

#net > canvas {
	position: absolute;
	top: 0;
	left: 0;
}