@font-face {
    font-family: "DejaVu Sans Mono";
    font-weight: 400;
    src: url(../fonts/DejaVu.ttf) format("truetype");
}

html {
    opacity: 0;
}

.show {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

body {
    cursor: default;
    overflow: hidden;
    overflow-y: auto;
    font: 0.8em/1.4em 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#body {
    z-index: 1;
}

#blink {
    z-index: 2;
}

#sugg {
    z-index: 3;
}

#output {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
}

#output.hidden {
    opacity: 0;
}

#hold {
    display: block;
    position: fixed;
    padding: 0;
    width: 15%;
    left: 80%;
    top: 50%;
    color: #DDD;
}