@font-face {
    font-family: "DejaVu Sans Mono";
    font-weight: 400;
    src: url(../fonts/d.woff) format("woff"),
    url(../fonts/d.ttf) format("truetype");
}

@font-face {
    font-family: "Museo";
    font-weight: 300;
    src: url(../fonts/m300.otf) format("opentype");
}

@font-face {
    font-family: "Museo";
    font-weight: 700;
    src: url(../fonts/m700.otf) format("opentype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url(../fonts/r700.otf) format("opentype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: url(../fonts/r600.otf) format("opentype");
}

@font-face {
    font-family: "Quattrocento";
    font-weight: 400;
    src: url(../fonts/q.otf) format("opentype");
}

.fonts {
    position: fixed;
    top: 200%;
    left: 200%;
    opacity: 0;
}

.fonts .m300 {
    font: 300 10pt "Museo";
}

.fonts .m700 {
    font: 700 10pt "Museo";
}

.fonts .d {
    font: 400 10pt "DejaVu Sans Mono";
}

.fonts .r600 {
    font: 600 10pt "Raleway";
}

.fonts .r700 {
    font: 700 10pt "Raleway";
}
