body {
	margin: 0;
}

.box {
	width: 400px;
	height: 400px;
	position: absolute;
}
.one {
	background: #faa;
	top: 200px;
	left: 120px;
	-webkit-filter: blur(5px);
	-webkit-animation: one-blur 5s;
	z-index: 1;
}
.two {
	top: 50px;
	left: 470px;
	background: #afa;
	-webkit-filter: blur(0);
	-webkit-animation: two-blur 5s;
	z-index: 3;
}
.three {
	top: 160px;
	left: 800px;
	background: #aaf;
	-webkit-filter: blur(10px);
	-webkit-animation: three-blur 5s;
}

@-webkit-keyframes two-blur {
	from { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@-o-keyframes two-blur {
	from { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@-moz-keyframes two-blur {
	from { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@keyframes two-blur {
	from { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}

@-webkit-keyframes three-blur {
	from { -webkit-filter: blur(10px); }
	to { -webkit-filter: blur(0); }
}
@-o-keyframes three-blur {
	from { -webkit-filter: blur(10px); }
	to { -webkit-filter: blur(0); }
}
@-moz-keyframes three-blur {
	from { -webkit-filter: blur(10px); }
	to { -webkit-filter: blur(0); }
}
@keyframes three-blur {
	from { -webkit-filter: blur(10px); }
	to { -webkit-filter: blur(0); }
}

@-webkit-keyframes one-blur {
	from { -webkit-filter: blur(5px); }
	50% { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@-o-keyframes one-blur {
	from { -webkit-filter: blur(5px); }
	50% { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@-moz-keyframes one-blur {
	from { -webkit-filter: blur(5px); }
	50% { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}
@keyframes one-blur {
	from { -webkit-filter: blur(5px); }
	50% { -webkit-filter: blur(0px); }
	to { -webkit-filter: blur(5px); }
}