::selection {
    color: #FFF;
    background: #333;
}

@font-face {
    font-family: "Museo";
    font-weight: 300;
    src: url('../fonts/Museo-300.otf');
}

@font-face {
    font-family: "Museo";
    font-weight: 500;
    src: url('../fonts/Museo-500.otf');
}

@font-face {
    font-family: "Museo";
    font-weight: 700;
    src: url('../fonts/Museo-700.otf');
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: local("Nonexistent 1442"), url(//albertxing.github.io/Lucifer//fonts/Raleway-Bold-webfont.svg) format("svg"), url(//albertxing.github.io/Lucifer//fonts/Raleway-Bold-webfont.ttf) format("truetype"), local("Arial"), local("Helvetica Neue");
}

@font-face {
    font-family: "Raleway";
    font-weight: 600;
    src: local("Nonexistent 1442"), url(//albertxing.github.io/Lucifer//fonts/Raleway-SemiBold-webfont.svg) format("svg"), url(//albertxing.github.io/Lucifer//fonts/Raleway-SemiBold-webfont.ttf) format("truetype"), local("Arial"), local("Helvetica Neue");
}

@font-face {
    font-family: "Quattrocento";
    src: local("Nonexistent 1442"), url(//albertxing.github.io/Lucifer//fonts/Quattrocento-Regular-webfont.svg) format("svg"), url(//albertxing.github.io/Lucifer//fonts/Quattrocento-Regular-webfont.ttf) format("truetype"), local("Georgia"), local("Minion Pro"), local("Times New Roman");
}

body {
    background: #FFF;
    color: #333;
    padding: 20px 33.333%;
    font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Museo';
}

h1 {
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.1em;
}

h2 {
    font-weight: 700;
    font-size: 1.4em;
    padding-top: 0.3em;
}

h3 {
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: -0.3em;
}

p {
    text-align: justify;
}

a:link,a:visited {
    color: #39D;
    text-decoration: none;
}

a:link:hover {
    color: #FFF;
    background: #333;
    padding: 1px 3px;
    margin: -1px -3px;
}

canvas {
    height: 300px;
    width: 30%;
    background: #fff;
    position: absolute;
    top: auto;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

canvas.left {
    left: 0;
    border-left: none;
}

canvas.right {
    left: auto;
    right: 0;
    border-right: none;
}

.copy {
    position: absolute;
    top: 100%;
    padding: 2em 0;
}